/* ==================== RESET  ====================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* ==================== BASIC ====================*/

.container {
  width: 120rem;
  margin: 0 auto;
}

.button {
  font-weight: 900;
  font-size: 2rem;
  line-height: 115%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 1.5rem 3rem;

  background: linear-gradient(95.2deg, #b90160 2.23%, #2e3192 99.51%);
  border-radius: 0.7rem;
  border: none;
  cursor: pointer;
}

/* ==================== HEADER ====================*/

.header {
  background: linear-gradient(
    269.91deg,
    rgba(46, 49, 146, 0.7) 0%,
    rgba(212, 20, 90, 0.7) 98.16%
  );
  padding-top: 2.3rem;
  padding-bottom: 2.6rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 63%;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__phone,
.header__maps,
.header__inst {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header__inst span {
  line-height: 100%;
}

.header__phone-text span:not(:last-child) {
  margin-right: 1.2rem;
}

/* ==================== MAIN ====================*/
/* ==================== DISPLAY  ====================*/
.display {
  padding-top: 4.7rem;
  background: url(../img/display-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
/* ==================== DISPLAY  TOP ====================*/
.display__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.display__menu {
  display: flex;
}

.display__menu li a {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 117%;
  font-weight: 300;
  text-align: center;
  color: #737373;
}

.display__menu li:not(:last-child) {
  margin-right: 2.5rem;
}
/* ==================== DISPLAY  CENTER  ====================*/
.display__center {
  display: flex;
}

.display__title {
  font-weight: 900;
  font-size: 5rem;
  line-height: 118%;
  margin-bottom: 1rem;
}
.display__subtitle {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 117%;
  margin-bottom: 0.5rem;
}

.display__center-text {
  width: 62rem;
  padding-top: 19rem;
}

.display__center-img {
  width: 55.3rem;
  height: 68.6rem;
}

/* ==================== ABOUT ====================*/
.about {
  background: url(../img/about-bg.svg);
  background-position-x: left;
  background-position-y: 20rem;
  background-repeat: no-repeat;
  padding-bottom: 22.5rem;
  background-size: 40%;
}
.about__title {
  font-weight: 400;
  font-size: 5rem;
  line-height: 118%;
  text-align: center;
  color: #000000;
  margin-bottom: 10rem;
}

.about__title span {
  background: linear-gradient(
    90deg,
    rgba(185, 1, 96, 1) 0%,
    rgba(61, 91, 245, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about__items {
  display: grid;
  grid-template-columns: repeat(3, 29%);
  gap: 0 6.1rem;
}
.about__item {
  box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
  border-radius: 0.9rem;
  overflow: hidden;
}
.about__item-img {
  width: 100%;
  height: 21.5rem;
}
.about__item-img img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.about__item-description {
  background-color: #fff;
  padding: 5%;
}

.about__item-title {
  font-size: 36px;
  line-height: 42px;
  font-size: 3.6rem;
  line-height: 117%;
}

.about__item-text {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 114%;
  color: #767676;
}

/* ==================== REVIEWS ====================*/
.review {
  background: linear-gradient(
    94.31deg,
    rgba(212, 20, 90, 0.25) 0.96%,
    rgba(46, 49, 146, 0.25) 104.83%
  );
  padding-top: 4rem;
  padding-bottom: 7rem;
}
.review__slider .swiper-wrapper {
  padding-top: 7rem;
  padding-bottom: 5rem;
}
.review__slide {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 0.9rem;
  /* position: relative; */
  display: flex;display;
  align-items: center;align-itemsalign-items;
  justify-content: center;justify-content;
  flex-direction: column;
  background: #ffffff;
  min-height: 25rem;
  max-height: 30rem;
  padding: 6.3rem 4.5rem 5rem 4.5rem;
  cursor: pointer;
}
.review__slide-text {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 117%;
  text-align: center;
  margin-bottom: 3rem;
}
.review__slide-name {
  font-size: 1.3rem;
  line-height: 115%;
  text-align: center;
  color: #8e8e8e;
}

.review__slide-name:before {
  content: "";
  display: block;
  width: 13rem;
  height: 0.2rem;
  margin-bottom: 1rem;
  background: linear-gradient(
    90deg,
    rgba(185, 1, 96, 1) 0%,
    rgba(61, 91, 245, 1) 100%
  );
}
.review__slide-img {
    position: absolute;
    top: -50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,45%);
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 11.5rem;
    height: 13rem;
    background: linear-gradient(
90deg
, rgba(185,1,96,1) 0%, rgba(61,91,245,1) 100%);
}
.review__slide-photo {
    -webkit-clip-path: polygon(50% 2%, 98% 25%, 98% 75%, 50% 98%, 2% 75%, 2% 25%);
            clip-path: polygon(50% 2%, 98% 25%, 98% 75%, 50% 98%, 2% 75%, 2% 25%);
    width: 11.3rem;
    height: 12.6rem;
  background-color: #fff;
}

.review__slider .swiper-slide-active {
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(0,20px,0);
}


.review__slider .swiper-slide-prev, .review__slider .swiper-slide-next {
    opacity: 40%;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(0,20px,0);
}


.review__slide-photo img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/* ==================== FOOTER ====================*/

.footer {
  position: relative;
}

.footer__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17.2rem 12rem 8.4rem 12rem;
}
.footer__wrap li {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 114%;
}
.footer__title {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 114%;
  text-transform: uppercase;
}
.footer__details {
  width: 22.4rem;
}

.footer__decor-1 {
  width: 11rem;
  height: 12.5rem;
  position: absolute;
  left: 20%;
  top: 47%;
  transform: translate(-50%, -50%);
}
.footer__decor-2 {
  width: 23.3rem;
  height: 26.4rem;
  position: absolute;
  left: 77%;
  top: 47%;
  transform: translate(-50%, -50%);
}
